<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Uotep.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Applicazione ASP.NET</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />


</head>
<body>
    <form runat="server">
        <style>
            .dropdown-submenu {
                position: relative;
            }

                .dropdown-submenu > .dropdown-menu {
                    top: 0;
                    left: 100%;
                    margin-top: -6px;
                }

                .dropdown-submenu:hover > .dropdown-menu {
                    display: block;
                }

                .dropdown-submenu > a:after {
                    content: "▸"; /* O una freccia diversa */
                    float: right;
                    margin-right: -10px;
                }
            /* Stile per nascondere il contenitore del viewer all'inizio */
            #viewerContainer {
                display: none;
                margin-top: 20px;
                border: 1px solid #ccc;
            }

            #wordViewerFrame {
                width: 100%;
                height: 750px;
                border: none;
            }
            /* Questo CSS vale solo per questa pagina */
            .sfondo-personalizzato {
                position: relative;
                min-height: 80vh; /* Assicura altezza sufficiente */
                overflow: hidden; /* Evita sbordature */
            }

                .sfondo-personalizzato::before {
                    content: "";
                    position: absolute;
                    top: 13px;
                    left: 5px;
                    width: 91%;
                    height: 91%;
                    /* Inserisci qui il percorso della tua immagine caricata nel progetto */
                    background-image: url('<%= ResolveUrl("~/FileComuni/Logo2.jpeg") %>');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain; /* O 'cover' se vuoi riempire tutto */
                    /* QUI REGOLI LA TRASPARENZA (0.1 = molto chiaro, 1 = normale) */
                    opacity: 0.1;
                    z-index: -1; /* Lo manda dietro al testo */
                }
        </style>
        <asp:ScriptManager runat="server">

            <Scripts>

                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <%--<asp:ScriptReference Name="jquery" />--%>
                <asp:ScriptReference Path="~/Scripts/jquery-3.7.1.js" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="navbar navbar-inverse navbar-fixed-top " style="background-color: #337ab7 !important">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%--<a class="navbar-brand" runat="server" href="~/">Nome applicazione</a>--%>
                </div>
                <div class="navbar-collapse collapse" style="font-weight: bold !important">
                    <ul class="nav navbar-nav">
                        <li><%--<a id="menuAttivita" runat="server" visible="false" style="color: #ffffff !important" href="~/View/Attivita">Attività</a>--%></li>


                        <li id="menuAmministratore" runat="server" visible="false" class="dropdown">
                            <a runat="server" style="color: #ffffff !important" class="dropdown-toggle" data-toggle="dropdown">Dashboard<span class="caret"></span></a>

                            <!-- Questo <ul> è il menu di secondo livello per UOTE -->
                            <ul class="dropdown-menu">
                                <li><a id="menuAttivita" runat="server" visible="false" href="~/View/Attivita">Attività</a></li>
                                <li><%--<a id="Amministratore" runat="server" visible="false" ref="~/View/Dashboard">Dashboard</a>--%></li>
                                <li><a id="Amministratore" runat="server" visible="false" href="~/View/Dashboard">Dashboard</a></li>
                                <li><a id="SchedaCarburante" runat="server" visible="false" href="~/View/GestioneAuto">Scheda Carburante</a></li>
                                <li><a id="Turnazione" runat="server" visible="false" href="~/View/Turnazione">Turnazione</a></li>
                            </ul>
                        </li>

                        <%--                        <li runat="server" id="menuAmministratore" visible="false"><a runat="server" style="color: #ffffff !important" href="~/View/Dashboard">Dashboard</a></li>--%>
                        <li><a id="Attivita" runat="server" visible="false" style="color: #ffffff !important" href="~/View/Attivita">Attività</a></li>


                        <!-- Elemento principale del menu a tendina "Archivio" -->
                        <li runat="server" id="menuArchivio" visible="false" class="dropdown">

                            <!-- Questo è il link che apre il primo livello del menu -->
                            <a runat="server" style="color: #ffffff !important" class="dropdown-toggle" data-toggle="dropdown">Archivio<span class="caret"></span></a>

                            <!-- Questo <ul> contiene il primo livello del menu (le due sezioni UOTE e UOTP) -->
                            <ul class="dropdown-menu">

                                <!-- ### INIZIO SOTTOMENU ARCHIVIO UOTE ### -->
                                <li id="subMenuUOTE" runat="server" visible="false" class="dropdown-submenu">
                                    <a href="#">Archivio UOTE</a>
                                    <!-- Questo <ul> è il menu di secondo livello per UOTE -->
                                    <ul class="dropdown-menu">
                                        <li><a id="InserimentoArchivioUote" runat="server" visible="false" href="~/View/InserimentoArchivio">Inserimento Pratica</a></li>
                                        <li><a id="RicercaArchivioUote" runat="server" visible="false" href="~/View/RicercaArchivio">Ricerca Pratica</a></li>

                                    </ul>
                                </li>
                                <!-- ### FINE SOTTOMENU ARCHIVIO UOTE ### -->

                                <!-- ### INIZIO SOTTOMENU ARCHIVIO UOTP ### -->
                                <li id="subMenuUOTP" runat="server" visible="false" class="dropdown-submenu">
                                    <a href="#">Archivio UOTP</a>
                                    <!-- Questo <ul> è il menu di secondo livello per UOTP -->
                                    <ul class="dropdown-menu">
                                        <li><a id="InserimentoArchivioUotp" runat="server" visible="false" href="~/View/Uotp/InserimentoArchivioUotp">Inserimento Pratica TP</a></li>
                                        <li><a id="RicercaArchivioUotp" runat="server" visible="false" href="~/View/Uotp/RicercaArchivioUotp">Ricerca Pratica TP</a></li>
                                        <%--<li><a id="GestionePraticaUotp" runat="server" visible="false" href="~/View/Uotp/GestionePratica">Gestione Pratica TP</a></li>--%>
                                    </ul>
                                </li>
                                <li><a id="GestionePraticaUote" runat="server" visible="false" href="~/View/GestionePratica">Gestione Pratica</a></li>
                                <li><a id="StatisticheAtti" runat="server" visible="false" href="~/View/StatisticheAtti">Statistiche</a></li>
                                <!-- ### FINE SOTTOMENU ARCHIVIO UOTP ### -->

                            </ul>
                        </li>

                        <li runat="server" id="menuCoordinamentoAtti" visible="false" class="dropdown">
                            <a runat="server" style="color: #ffffff !important" class="dropdown-toggle" data-toggle="dropdown">Coordinamento Atti<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a id="InserimentoAtti" runat="server" visible="false" href="~/View/Inserimento">Inserimento Atti</a></li>
                                <%--<li><a id="ModificaAtti" runat="server" visible="false" href="~/View/Modifica">Modifica Atti</a></li>--%>
                                <%--<li><a id="ModificaRiservata" runat="server" visible="false" href="~/View/ModificaRiservata">Modifica Riservata</a></li>--%>
                                <li><a id="RicercaAtti" runat="server" visible="false" href="~/View/Visualizza">Ricerca Atti</a></li>


                            </ul>
                        </li>


                        <li runat="server" id="menuAccertatori" visible="false" class="dropdown">
                            <a runat="server" style="color: #ffffff !important" href="~/View/SchedaIntervento" class="dropdown-toggle" data-toggle="dropdown">Scheda Intervento<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a id="Decretazione" runat="server" visible="false" href="~/View/Modifica">Decretazione</a></li>

                                <li><a id="menuNuovaScheda" runat="server" visible="false" href="~/View/SchedaIntervento">Nuova Scheda</a></li>
                                <li><a id="menuRicercaScheda" runat="server" visible="false" href="~/View/RicercaScheda">Ricerca Scheda</a></li>
                                <li><a id="mnGestioneAuto" runat="server" visible="false" href="~/View/GestioneAuto">Scheda Carburante</a></li>
                                <li><a id="EstraiStatistiche" runat="server" visible="false" href="~/View/EstraiStatistiche">Statistiche</a></li>


                            </ul>
                        </li>
                        <%-- FURERIA --%>
                        <li runat="server" id="menuFureria" visible="false" class="dropdown">
                            <a runat="server" style="color: #ffffff !important" href="~/View/Turnazione" class="dropdown-toggle" data-toggle="dropdown">Fureria<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a id="FSchedaDipendente" runat="server" visible="false" href="~/View/SchedaDipendente">SchedaDipendente</a></li>
                                <li><a id="AccTrunoMensile" runat="server" visible="false" href="~/View/Turnazione">Turnazione Mensile</a></li>
                                <li><a id="TurnoMensile" runat="server" visible="false" href="~/View/Turnazione">Turnazione Mensile</a></li>

                            </ul>
                        </li>
                        <%-- manutenzione tabelle --%>
                        <li runat="server" id="menuManTabelle" style="color: #ffffff !important" visible="false"><a runat="server" style="color: #ffffff !important" href="~/View/ManutenzioneTabelle">Manutenzione Tabelle</a></li>

                        <li runat="server" id="menuSegreteria" visible="false" class="dropdown">
                            <a runat="server" style="color: #ffffff !important" href="~/View/Segreteria" class="dropdown-toggle" data-toggle="dropdown">Ufficio PG <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a id="StatistichePg" runat="server" visible="false" href="~/View/StatistichePg">Statistiche</a></li>
                                <li><a id="PG" runat="server" visible="false" href="~/View/Segreteria">Ufficio PG</a></li>

                            </ul>
                        </li>
                        <li><a id="Urp" runat="server" visible="false" style="color: #ffffff !important" href="~/View/Urp">Urp</a></li>

                        <li runat="server" id="LiHelp">
                            <asp:HyperLink
                                ID="helpLink"
                                runat="server"
                                NavigateUrl="~/FileComuni/Manualeutenteuotep.pdf"
                                Target="_blank"
                                Style="color: #ffffff !important">
         Manuale Utente 
                            </asp:HyperLink>

                        </li>

                        <li runat="server" id="menuEsci" visible="false">
                            <asp:LinkButton ID="lnkLogout" runat="server" ValidationGroup="bottoni" OnClick="Esci_Click" Style="color: #ffffff !important">ESCI</asp:LinkButton>
                        </li>


                    </ul>
                    <div id="viewerContainer">
                        <iframe id="wordViewerFrame" src=""></iframe>
                    </div>
                </div>

            </div>
            <div runat="server" id="userLog" visible="false">
                <asp:Label ID="lblUser" runat="server" Style="color: #ffffff !important" />
            </div>
        </div>

        <div class="container body-content sfondo-personalizzato">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <asp:Label ID="lblMsg" runat="server" BackColor="Red"></asp:Label>
                <p style="font: bold; font-style: italic">&copy; <%: DateTime.Now.Year %> - Powered by </p>
            </footer>
        </div>
        <%-- popup errori --%>
        <div class="modal fade" id="SiteModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog"
                role="document">
                <div class="modal-content">
                    <div class="modal-header" id="modalHeaderColor" runat="server">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="ModalLabel">
                            <asp:Label ID="lblModalTitolo" runat="server" Text="Avviso"></asp:Label>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <!-- Campi di input per la ricerca -->
                        <div class="form-group">

                            <p id="TxtMessage" runat="server" style="color: red"></p>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- Bottone per avviare la ricerca -->
                        <asp:Button ID="btChiudiPopUp" runat="server" class="btn btn-secondary" Text="Chiudi" OnClick="btChiudiPopUp_Click" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal di CONFERMA (con tasto OK) -->
        <div class="modal fade" id="ModalConferma" tabindex="-1" role="dialog" aria-labelledby="LabelConferma" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header bg-warning">
                        <!-- Giallo per attenzione -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="LabelConferma">
                            <asp:Label ID="lblTitoloConferma" runat="server" Text="Conferma Operazione"></asp:Label>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <asp:Label ID="lblTestoConferma" runat="server" Text="Sei sicuro?"></asp:Label>

                        <!-- Campo nascosto per salvare l'URL dove andare se dice SI -->
                        <input type="hidden" id="hdnUrlDestinazione" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>

                        <!-- Tasto che scatena l'azione -->
                        <button type="button" class="btn btn-primary" onclick="EseguiRedirect()">Prosegui</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- SCRIPT JAVASCRIPT PER GESTIRE IL REDIRECT -->
        <script type="text/javascript">
            // Funzione chiamata dal C# per aprire il modale e settare l'URL
            function ApriModalConferma(titolo, messaggio, url) {
                // Imposta i testi (opzionale via JS, ma lo facciamo via C# solitamente)
                // Ma l'URL deve essere passato a JS
                $('#hdnUrlDestinazione').val(url);

                // Apre il modale
                $('#ModalConferma').modal('show');
            }

            // Funzione chiamata dal tasto "Prosegui"
            function EseguiRedirect() {
                var url = $('#hdnUrlDestinazione').val();
                if (url) {
                    window.location.href = url; // Reindirizza l'utente
                }
            }

        </script>
        <asp:HiddenField ID="hfMasterParam" runat="server" ClientIDMode="Static" />
    </form>
    <script src='<%= ResolveUrl("~/Scripts/Utility.js") %>'></script>
</body>
</html>
